@page
@model food_web_project.Pages.Add_ItemsModel
@{
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <title>cusinely - Add items</title>
    <link rel="shortcut icon" href="~/images_login/cuisinely.png">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @* <link href="~/assets_items/css/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/bootstrap_items/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets_items/css/plugins.css" rel="stylesheet" type="text/css" /> *@
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets_items/css/ecommerce/addedit_product.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="~/images_login/cuisinely.png">

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a asp-page="/Index" class="navbar-brand" style="color: #FFA500;">Cuisinely</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    @* <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/github.png" alt=""> <span>Github</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/dribbble.png" alt=""> <span>Dribbble</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/dropbox.png" alt=""> <span>Dropbox</span></a>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/mail_chimp.png" alt=""><span>Mail chimp</span></a>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                    <a href="#" class="connection-item"><img src="~/assets/images/slack.png" alt=""> <span>Slack</span></a>
                                    </div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                    </li> *@
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" asp-page="/User_Profile"><i class="fas fa-user mr-2"></i>Account</a>
                                @*                                 <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                *@                                <a class="dropdown-item" asp-page="/Index"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>

                            <!-- Profile -->
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Dashboard">Dashboard</a>
                            </li>
                            <!-- toggle the items -->
                            <li class="nav-item">
                                <a class="nav-link">items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Product_Admin"> view items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Add_Items">Add Items</a>
                            </li>
                           

                            

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-Cuisinely">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">cusinely Add Recipe </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Cuisinely</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Cuisinely Product Checkout</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
            
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-header">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                            <h4>Add / Manage Product </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-content widget-content-area add-manage-product-2">
                                                    <div class="row">
                                                        <div class="col-xl-7 col-md-12">
                                                            <div class="card card-default">
                                                <div class="card-heading">
                                                    <h2 class="card-title text-white">
                                                        <span>GENERAL</span>
                                                    </h2>
                                                </div>
                                                <div class="card-body">
                                                                    <div class="card-body">
                                                                        <form class="form-horizontal">
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Name :</label>
                                                                                    <div class="col-md-8">
                                                                                        <input class="form-control" name="name" type="text">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Description :</label>
                                                                                    <div class="col-md-8">
                                                                                        <textarea rows="4" cols="5" name="description" class="form-control"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Short Description :</label>
                                                                                    <div class="col-md-8">
                                                                                        <textarea rows="4" cols="5" name="description" class="form-control"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Category :</label>
                                                                                    <div class="col-md-8">
                                                                                        <select class="form-control form-custom mb-4" name="category">
                                                                                            <option value="">Select Category</option>
                                                                                            <option value="category1">West Food</option>
                                                                                            <option value="category2">East Food</option>
                                                                                            <option value="category3">Juice</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                           
                                                                           
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Size :</label>
                                                                                    <div class="col-md-8">
                                                                                        <select class="form-control form-custom" name="size">
                                                                                            <option value="">Select Size</option>
                                                                                            <option value="size1">S</option>
                                                                                            <option value="size2">M</option>
                                                                                            <option value="size3">L</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            
                                                     
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Status :</label>
                                                                                    <div class="col-md-8">
                                                                                        <select class="form-control form-custom" name="status">
                                                                                            <option value="">Please Select</option>
                                                                                            <option value="status1">In Stock</option>
                                                                                            <option value="status2">Out of Stock</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group mb-4">
                                                                                <div class="row">
                                                                                    <label class="col-md-4">Visibility :</label>
                                                                                    <div class="col-md-8">
                                                                                        <select class="form-control form-custom" name="visibility">
                                                                                            <option value="">Please Select</option>
                                                                                            <option value="yes">Yes</option>
                                                                                            <option value="no">No</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                           
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-5 col-md-12">
                                                            <div class="card card-default">
                                                <div class="card-heading">
                                                    <h2 class="card-title text-white">
                                                        <span>PRICING</span>
                                                    </h2>
                                                </div>
                                                <div class="card-body">
                                                                    <form class="form-horizontal">
                                                                        <div class="form-group mb-4">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Price :</label>
                                                                                <div class="col-md-8">
                                                                                    <input class="form-control" name="price" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                       @*  <div class="form-group mb-4">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Tax Class :</label>
                                                                                <div class="col-md-8">
                                                                                    <select class="form-control form-custom" name="tax_class">
                                                                                        <option value="">Please Select</option>
                                                                                        <option value="tax1">None</option>
                                                                                        <option value="tax2">Shipping</option>
                                                                                        <option value="tax3">Taxable Goods</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div> *@
                                                                        <div class="form-group mb-4">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Discount :</label>
                                                                                <div class="col-md-8">
                                                                                    <input class="form-control" name="discount" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group mb-4">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Coupon :</label>
                                                                                <div class="col-md-8">
                                                                                    <input class="form-control" name="coupon" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group mb-4">
                                                                            <div class="row">
                                                                                <label class="col-md-4"></label>
                                                                                <div class="col-md-8">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                                                        <label class="custom-control-label" for="customCheck4">Check to Apply</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-12"><span>Image</span></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Image :</label>
                                                                                <div class="col-md-8">
                                                                                    <div class="mb-3">
                                                                                        <div class="custom-file">
                                                                                            <input type="file" class="form-control-file" id="file-input">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                       @*  <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-12"><span>INVENTORY</span></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-4">QTY :</label>
                                                                                <div class="col-md-8">
                                                                                    <input class="form-control" name="qty" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-12"><span>KEYWORDS</span></label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <label class="col-md-4">Keywords :</label>
                                                                                <div class="col-md-8">
                                                                                    <input class="form-control" name="keywords" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div> *@
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="align-center">
                                                                <input value="Insert Product" class="btn" type="submit">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                           
                            <!--  END CONTENT PART  -->
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                           @*  <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a> *@
                            </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1  -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js-->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js-->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js-->
    <script src="~/assets/libs/js/main-js.js"></script>
    <script src="~/assets_items/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/assets_items/js/loader.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bootstrap_items/js/popper.min.js"></script>
    <script src="~/bootstrap_items/js/bootstrap.min.js"></script>
    <script src="~/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/plugins/blockui/jquery.blockUI.min.js"></script>
    <script src="~/assets_items/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM SCRIPT FILES  -->
    <script src="~/assets_items/js/ecommerce/autocomplete-addedit_product.js"></script>
</body>


</html>