/* BEGIN EXTERNAL SOURCE */
body {
background-image: url(images/slide_1.jpg);
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h2 {
font-family: cursive; font-size:50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
color: #fff
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
body {
background-image: url(images/slide_1.jpg);
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h2 {
font-family: cursive; font-size:50px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
color: #fff
}
/* END EXTERNAL SOURCE */
